body,html{
  height:100%;
}

body{
  text-align: center;
  color: #ffffff;
  background-image: url("spacebg.jpeg");
  height: 100%;
  background-position: center;
  background-size: cover;
}

#title{
  text-align: center;
  font-size: 60px;
  font-family: 'Rampart One', cursive;
}

.profile{
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  padding: 25px;
  display: inline-block;
  width: 40%;
  margin: 5px;
}

#favTitle{
  font-family: 'Rampart One', cursive;
}

.favorites{
  display: inline-block;
  margin: 5px;
  padding: 5px;
}
